.image-container {
    width: 100vw;

    border-style: solid;  
    
    position: relative;
}

img {
    max-width: 100%;
    height: auto;

}

.character-list {
    background-color: grey;
    color: white;

    list-style-type: none;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 2rem;
    top: 1rem;
}

.character-list button {
    width: 100%
}

.modal-90w {
    min-width: 90%;
}

.character-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}